<main>
    <h1>{{title}}</h1>

    <form [formGroup]="form" (ngSubmit)="submit()">

        <label>Brand
            <select formControlName="brandId">
                @for (brand of brands(); track brand.id) {
                    <option [value]="brand.id">{{brand.name}}</option>
                }
            </select>

            @if (isInvalid(form.get('brandId'))){
                @if (form.get('brandId')?.errors?.['required']) {
                    <p class="error">Brand is required</p>
                }
            }
        </label>

        <label>Model
            <select formControlName="modelId">
                @for (model of currentBrand()?.models; track model.id) {
                    <option [value]="model.id">{{model.name}}</option>
                }
            </select>

            @if (isInvalid(form.get('modelId'))){
                @if (form.get('modelId')?.errors?.['required']) {
                    <p class="error">Model is required</p>
                }
            }
        </label>

        <hr>

        <div formArrayName="carDetails">

        @for (carDetailsGroup of carDetails.controls; track carDetailsGroup) {
            <div [formGroupName]="$index">
                <label>Registration Date
                    <input type="date" formControlName="registrationDate">
                    
                    @if (isInvalid(carDetailsGroup.get('registrationDate'))){
                        @if (carDetailsGroup.get('registrationDate')?.errors?.['required']) {
                            <p class="error">Registration Date is required</p>
                        }
                        @if (carDetailsGroup.get('registrationDate')?.errors?.['pattern'])  {
                            <p class="error">Registration Date must have the format of YYYY-MM-DD</p>
                        }
                    }

                    @if (isInvalid(carDetailsGroup)) {
                        @if (carDetailsGroup.errors?.['registrationDateBeforeManufatureYear']) {
                            <p class="error">Registration Date cannot be earlier than Manufacture Year.</p>
                        }
                    }
                </label>

                <label>Mileage
                    <input type="number" formControlName="mileage">

                    @if (isInvalid(carDetailsGroup.get('mileage'))) {
                        @if (carDetailsGroup.get('mileage')?.errors?.['required']) {
                            <p class="error">Mileage is required</p>
                        }
                        @if (carDetailsGroup.get('mileage')?.errors?.['min']) {
                            <p class="error">Mileage cannot be negative</p>
                        }
                    }
                </label>

                <label>Currency
                    <select formControlName="currency">
                        @for (currency of currencies; track currency) {
                            <option [value]="currency">{{currency}}</option>
                        }
                    </select>

                    @if (isInvalid(carDetailsGroup.get('currency'))) {
                        @if (carDetailsGroup.get('currency')?.errors?.['required']) {
                            <p class="error">Currency is required</p>
                        }
                        @if (carDetailsGroup.get('currency')?.errors?.['pattern']) {
                            <p class="error">Currency should have ISO format (EUR, USD...)</p>
                        }
                    }
                </label>

                <label>Price
                    <input type="number" formControlName="price">

                    @if (isInvalid(carDetailsGroup.get('price'))) {
                        @if (carDetailsGroup.get('price')?.errors?.['required']) {
                            <p class="error">Price is required</p>
                        }
                        @if (carDetailsGroup.get('price')?.errors?.['min']) {
                            <p class="error">Price cannot be negative</p>
                        }
                    }
                </label>

                <label>Manufacture Year
                    <input type="number" formControlName="manufactureYear">

                    @if (isInvalid(carDetailsGroup.get('manufactureYear'))) {
                        @if (carDetailsGroup.get('manufactureYear')?.errors?.['required']) {
                            <p class="error">Manufacture Year is required</p>
                        }
                        @if (carDetailsGroup.get('manufactureYear')?.errors?.['min']) {
                            <p class="error">Manufacture Year should be greater than 0</p>
                        }
                        @if (carDetailsGroup.get('manufactureYear')?.errors?.['max']) {
                            <p class="error">Manufacture Year cannot be in the future</p>
                        }
                    }
                </label>

                <label>Availability
                    <input type="checkbox" formControlName="availability">
                </label>

                <label>Color
                    <input type="text" formControlName="color">

                    @if (isInvalid(carDetailsGroup.get('color'))) {
                        @if (carDetailsGroup.get('color')?.errors?.['required']) {
                            <p class="error">Color is required</p>
                        }
                    }
                </label>

                <label>Description
                    <textarea formControlName="description"></textarea>

                    @if (isInvalid(carDetailsGroup.get('description'))) {
                        @if (carDetailsGroup.get('description')?.errors?.['required']) {
                            <p class="error">Description is required</p>
                        }
                    }
                </label>

                <label>License Plate
                    <input type="text" formControlName="licensePlate">

                    @if (isInvalid(carDetailsGroup.get('licensePlate'))) {
                        @if (carDetailsGroup.get('licensePlate')?.errors?.['required']) {
                            <p class="error">License Plate is required</p>
                        }
                        @if (carDetailsGroup.get('licensePlate')?.errors?.['pattern']) {
                            <p class="error">License Plate should follow the Spanish format (0000 BBB)</p>
                        }
                    }
                </label>

                <button type="button" (click)="removeCarDetails($index)" class="error-container">Remove Car</button>

                <hr>
            </div>
        }

            <button type="button" (click)="addCarDetails()">Add Car</button>

        </div>
        
        <button type="submit" [disabled]="form.invalid">Submit</button>

        @if (submitSuccessMessage()) {
            <p class="success">{{submitSuccessMessage()}}</p>
        }

        @if (submitErrorMessage()) {
            <p class="error">{{submitErrorMessage()}}</p>
        }

    </form>
</main>