<main>
    <h1>Car Details</h1>

    <div class="actions">
        <button [routerLink]="`/form/${carDetails()?.id}`">Edit</button>
        <button (click)="openDialog()">Delete</button>
    </div>

    @if (loading()) {
        <p>Loading...</p>
    }

    @else if (error()) {
        <p>{{error().error}}</p>
    }

    @else if(carDetails()) {
        <h2>Upload document</h2>

        <form [formGroup]="uploadFileForm" (ngSubmit)="onSubmitFileForm()">
            @if (uploadedFile()) {
                <label>There is already an uploaded file: {{uploadedFile()?.originalName}}
                    <a
                        class="button"
                        [href]="uploadedFile()?.downloadUrl"
                        [download]="uploadedFile()?.originalName"
                    >
                        Download file
                    </a>
                </label>
            }
            @if (uploadedFileError()) {
                <p class="error">{{uploadedFileError()}}</p>
            }
            
            <label>File
                <input 
                    type="file"
                    (change)="onFileSelected($event)"
                />
            </label>

            <label>Description
                <input 
                    type="text"
                    formControlName="description"
                />
            </label>

            <button type="submit" [disabled]="uploadFileForm.invalid">
                Upload File
            </button>

            @if (fileSuccess()) {
                <p class="success">{{fileSuccess()}}</p>
            }
            @if (fileError()) {
                <p class="error">{{fileError()}}</p>
            }
        </form>

        <h2>List of Cars</h2>
        @for (carDetailsEntity of carDetails()?.carDetails; track $index) {
            <img [src]="`/api${carDetailsEntity.imageUrl}`" alt="Car Image">
            <h2>{{carDetailsEntity.description}}</h2>
            <table>
                <tr>
                    <td>Brand</td>
                    <td>{{carDetails()?.brand?.name}}</td>
                </tr>

                <tr>
                    <td>Model</td>
                    <td>{{carDetails()?.model?.name}}</td>
                </tr>

                <tr>
                    <td>Registration Date</td>
                    <td>{{carDetailsEntity.registrationDate | date : 'dd-MM-yyyy'}}</td>
                </tr>

                <tr>
                    <td>Mileage</td>
                    <td>{{carDetailsEntity.mileage}}</td>
                </tr>

                <tr>
                    <td>Price</td>
                    <td>{{carDetailsEntity.price | currency : carDetailsEntity.currency}}</td>
                </tr>

                <tr>
                    <td>Manufacture Year</td>
                    <td>{{carDetailsEntity.manufactureYear}}</td>
                </tr>

                <tr>
                    <td>Availability</td>
                    <td>{{carDetailsEntity.availability ? 'Available' : 'Taken'}}</td>
                </tr>

                <tr>
                    <td>Color</td>
                    <td>{{carDetailsEntity.color}}</td>
                </tr>

                <tr>
                    <td>License Number</td>
                    <td>{{carDetailsEntity.licensePlate}}</td>
                </tr>
            </table>

            @if(!$last){<hr>}
        }
    }
</main>

@if (isDialogOpen()){
    <app-dialog 
    title="Delete Car"
    (closed)="closeDialog()"
    (oked)="onDialogConfirmation()"
    >
        <p>Are you sure you want to delete the car: {{carDetails()?.brand?.name ?? 'Error'}} {{carDetails()?.model?.name ?? 'Error'}}?</p>
    </app-dialog>
}