<main>
    <h1>Car List</h1>

    <div class="pagination">
        <button 
        (click)="goToPrevious()"
        [disabled]="!hasPreviousPage()"
        >
            &DoubleLongLeftArrow;
        </button>
        
        @for (page of pages(); track page) {
            <button 
            [class.highlight]="currentPage() == page"
            (click)="navigateToPage(page)"
            >
                {{page}}
            </button>
        }
        
        <button 
        (click)="goToNext()"
        [disabled]="!hasNextPage()"
        >
            &DoubleLongRightArrow;
        </button>
    </div>

    <div class="actions">
        <button>Create a New Car</button>
    </div>

    @if (loading()) {
        <p>Loading...</p>
    }
    
    @else if (error()) {
        <p>An error ocurred, please try again.</p>
        <button (click)="refreshCars()">Retry</button>
    }

    @else if (paginatedResponse()) {
        <table>
                <tr>
                    <th>Image</th>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>

            @for (car of paginatedResponse()?.items; track car.id) {
                <tr>
                    <td><img [src]="`/api${car.imageUrl}`" alt="Car Image"></td>
                    <td>{{car.brand.name}}</td>
                    <td>{{car.model.name}}</td>
                    <td>{{car.total}}</td>
                    <td>
                        <div class="actions">
                            <button [routerLink]="`/details/${car.id}`">Details</button>
                            <button [routerLink]="`/form/${car.id}`">Edit</button>
                            <button (click)="openDialog(car.id)">Delete</button>
                        </div>
                    </td>
                </tr>
            }
        </table>
    }
</main>

@if (isDialogOpen()){
    <app-dialog 
    title="Delete Car"
    (closed)="closeDialog()"
    (oked)="onDialogConfirmation()"
    >
        <p>Are you sure you want to delete the car: {{carToDelete()?.brand?.name ?? 'Error'}} {{carToDelete()?.model?.name ?? 'Error'}}?</p>
    </app-dialog>
}

<app-fab
    icon="+"
    ariaLabel="Add New Car"
    routerLink="/form"
></app-fab>